  <div class="mt-3">
  <%= simple_form_for(@article) do |f| %>
  <%= f.input :name, label: false, placeholder: "Nom" %>
  <%= f.association :categorie, label: false, placeholder: "Catégorie" %>
  <%= f.input :description, label: false, placeholder: "Description" %>
  <%= f.input :color, label: false, placeholder: "Couleur" %>
  <%= f.input :dimensions, label: false, placeholder: "Dimensions" %>
  <%= f.input :matiere, label: false, placeholder: "Matière" %>
  <%= f.input :conseil, label: false, placeholder: "Conseils" %>
  <%= f.input :price, label: false, placeholder: "Prix" %>
   <%= f.input :avatar, as: :file, label: "photo principale", placeholder: "photo" %>
  <%= f.input :photos, as: :file, input_html: { multiple: true }, label: "photos" %>
  <%= f.submit "Créer", class: "btn btn-primary text-center"%>
  <%end %>
  </div>
