<div class="container">

<div class="row card-carousel">
  <div class="col-md-6 carousel-article">
    <div id="carouselExampleIndicators" class="carousel article slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <% if !@article.photos[0].nil?%>
        <li data-target="#carouselExampleIndicators" data-slide-to="1" > </li>
        <% end %>
        <% if !@article.photos[1].nil?%>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <% end %>
        <% if !@article.photos[2].nil?%>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        <% end %>
        <% if !@article.photos[3].nil?%>
        <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
        <% end %>
         <% if !@article.photos[4].nil?%>
        <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
        <% end %>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active" data-interval="10000">
          <%= cl_image_tag @article.avatar.key, alt: "Ômanette",class:'carousel article d-block w-100' if @article.avatar.attached? %>
        </div>
        <% @illustrations.photos.each do |photo| %>
          <div class="carousel-item">
            <%= cl_image_tag photo.key, alt: "Ômanette", class:'carousel article d-block w-100'%>
          </div>
        <% end %>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <ul class="navigation_diapo">
      <li><a href="#carouselExampleIndicators" role="button" data-slide-to="0">
        <%= cl_image_tag @article.avatar.key, alt: "Ômanette",class:'d-block w-80 h-80' if @article.avatar.attached? %></a>
      </li>
      <li><a href="#carouselExampleIndicators" role="button" data-slide-to="1">
        <%= cl_image_tag @article.photos[0].key, alt: "Ômanette",class:'d-block w-80 h-80' if !@article.photos[0].nil? %></a>
      </li>
      <li><a href="#carouselExampleIndicators" role="button" data-slide-to="2">
        <%= cl_image_tag @article.photos[1].key, alt: "Ômanette",class:'d-block w-80 h-80' if !@article.photos[1].nil? %></a>
      </li>
      <li><a href="#carouselExampleIndicators" role="button" data-slide-to="3">
        <%= cl_image_tag @article.photos[2].key, alt: "Ômanette",class:'d-block w-80 h-80' if !@article.photos[2].nil? %></a>
      </li>
      <li><a href="#carouselExampleIndicators" role="button" data-slide-to="4">
        <%= cl_image_tag @article.photos[3].key, alt: "Ômanette",class:'d-block w-80 h-80' if !@article.photos[3].nil? %></a>
      </li>
      <li><a href="#carouselExampleIndicators" role="button" data-slide-to="5">
        <%= cl_image_tag @article.photos[4].key, alt: "Ômanette",class:'d-block w-80 h-80' if !@article.photos[4].nil? %></a>
      </li>
    </ul>
  </div>

  <div class="col-md-6 article-content">
    <div class="d-flex flex-column align-items-center">
      <div class= "d-inline-flex">
        <h2><%=@article.name%></h2>
        <% if user_signed_in? && current_user.admin? %>
          <%= link_to edit_article_path(@article) do %>
            <i class="far fa-edit"></i>
          <% end %>
        <% end %>
      </div>
      <div class="mt-2 d-inline-flex price">
        <% unless @article.oldprice.nil?%>
        <div class="mr-2">
          <p><del><%=@article.oldprice.to_s.sub(/\.?0+$/, '') %> €</del></p>
        </div>
        <% end %>
        <p><%=@article.price.to_s.sub(/\.?0+$/, '')%> €</p>
      </div>
    </div>
    <div>
      <% unless @article.description==""%>
        <h3>Description</h3>
        <h4> <%=@article.description%> </h4>
      <% end %>
    </div>
    <div>
      <% unless @article.color==""%>
        <h3>Couleur</h3>
        <h4> <%=@article.color%> </h4>
      <% end %>
    </div>
    <div>
      <% unless @article.dimensions==""%>
        <h3>Dimensions</h3>
        <h4> <%=@article.dimensions%></h4>
      <% end %>
    </div>
    <div>
      <% unless @article.matiere=="" %>
        <h3>Matière</h3>
        <h4> <%=@article.matiere%></h4>
      <% end %>
    </div>
    <div>
      <% unless @article.conseil=="" %>
        <h3>Conseils d'entretien</h3>
        <h4> <%=@article.conseil%></h4>
      <% end %>
    </div>
    <div class="mt-3">
      <div class="footer-article">
        <i class="fas fa-box-open"></i>
        <h4>Emballage soigné et 100% recyclé</h4>
      </div>
      <div class="footer-article">
        <i class="fas fa-tag"></i>
        <h4>Conçu et cousu entièrement en Bretagne</h4>
      </div>
      <div class="mt-3">
        <%= link_to "Pour commander contactez moi", new_contact_path, class: "btn btn-light"%>
      </div>
    </div>
  </div>
</div>
</div>



