
    <div id="carouselExampleIndicators" class="carousel home slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <%= image_tag "https://res.cloudinary.com/djuy4uxrd/image/upload/w_1000,ar_16:9,c_fill,g_auto,e_sharpen/v1586167135/kimono-zoom_lmhxeo.jpg", class:'carousel home d-block w-100'%>
        </div>
        <div class="carousel-item">
          <%= image_tag "https://res.cloudinary.com/djuy4uxrd/image/upload/w_1000,ar_16:9,c_fill,g_auto,e_sharpen/v1586186791/2ny4jsxtecujzya7z09jq60va426.png", class:'carousel home d-block w-100'%>
        </div>
        <div class="carousel-item">
          <%= image_tag "https://res.cloudinary.com/djuy4uxrd/image/upload/w_1000,ar_16:9,c_fill,g_auto,e_sharpen/v1586167114/haut-croise%CC%81_njtrj9.jpg", class:'carousel home d-block w-100'%>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>



    <div class="card-list">
      <% @categories.each do |categorie|%>
      <div class="card-cat">
        <%= link_to category_path(categorie) do %>
          <%= cl_image_tag categorie.photo.key, crop: :fit, alt: "Ômanette",class:'card-category w-100' if categorie.photo.attached? %>
        <%end %>
        <div class="title-cat d-inline-flex">
          <%= link_to categorie.name, category_path(categorie) %>
        </div>
          <% if user_signed_in? && current_user.admin? %>
            <%= link_to edit_category_path(categorie) do %>
              <i class="far fa-edit"></i>
            <% end %>
          <% end %>
      </div>
      <% end %>
    </div>






