
<div class="container">


<div class="row">
  <h1> <%=@categorie.name %></h1>
</div>

<div class="row mt-3">
  <div class="article-list">
  <% @articles.each do |article|%>
    <div class="card-product">
      <%= link_to article_path(article) do %>
        <%= cl_image_tag article.avatar.key, crop: :fill if article.avatar.attached? %>
      <%end %>
      <div class="card-product-infos">
        <h2> <%= link_to article.name, article_path(article) %></h2>
        <p><%=article.price.to_s.sub(/\.?0+$/, '')%> €</p>
      </div>
    </div>
  <% end %>
  </div>
</div>

</div>
